@model BcParksMvc.Models.Park

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Park</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaHa" class="control-label"></label>
                <input asp-for="AreaHa" class="form-control" />
                <span asp-validation-for="AreaHa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaAcres" class="control-label"></label>
                <input asp-for="AreaAcres" class="form-control" />
                <span asp-validation-for="AreaAcres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstablishedYear" class="control-label"></label>
                <input asp-for="EstablishedYear" class="form-control" />
                <span asp-validation-for="EstablishedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
